---
import SearchIcon from '@assets/search.svg';
---

<button type="submit" class="btn-search">
  <SearchIcon width="45" height="45" color="#ffffff"/>
</button>

<style>
  .btn-search{
    width: 50px;
    height: 100%;
    transition: opacity 300ms ease-in-out,
      color 300ms ease-in-out, 
      background-color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--red);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .btn-search:hover{
    opacity: 0.8;
  }
  .btn-search:active{
    background-color: var(--white);
    color: var(--red);
  }
</style>